@model SLMS.WebApp.Models.CategoryViewModel

@{
    ViewData["Title"] = "Category Details";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-3">

        <li class="breadcrumb-item">
            <a asp-controller="Home"
               asp-action="Index">
                Dashboard
            </a>
        </li>

        <li class="breadcrumb-item">
            <a asp-controller="Category"
               asp-action="Index">
                Categories
            </a>
        </li>

        <li class="breadcrumb-item active">
            Details
        </li>

    </ol>
</nav>
<div class="card shadow-sm">
    <div class="card-body">

        <h3>Category Details</h3>

        <hr />

        <div class="mb-3">
            <label class="fw-bold">ID</label>
            <p>@Model.Id</p>
        </div>

        <div class="mb-3">
            <label class="fw-bold">Category Name</label>
            <p>@Model.Name</p>
        </div>

        <div class="mb-3">
            <label class="fw-bold">Description</label>
            <p>@Model.Description</p>
        </div>

        <a asp-action="Index"
           class="btn btn-secondary">
            Back
        </a>

    </div>
</div>