@model SLMS.WebApp.Models.CategoryViewModel

@{
    ViewData["Title"] = "Edit Category";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-3">

        <li class="breadcrumb-item">
            <a asp-controller="Home"
               asp-action="Index">
                Dashboard
            </a>
        </li>

        <li class="breadcrumb-item">
            <a asp-controller="Category"
               asp-action="Index">
                Categories
            </a>
        </li>

        <li class="breadcrumb-item active">
            Edit
        </li>

    </ol>
</nav>
<div class="card shadow-sm">
    <div class="card-body">

        <h3>Edit Category</h3>
        <hr />

        <form asp-action="Edit" method="post">

            <input asp-for="Id" type="hidden" />

            <div class="mb-3">
                <label asp-for="Name"
                       class="form-label"></label>

                <input asp-for="Name"
                       class="form-control" />

                <span asp-validation-for="Name"
                      class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description"
                       class="form-label"></label>

                <textarea asp-for="Description"
                          class="form-control">
                </textarea>
            </div>

            <button type="submit"
                    class="btn btn-warning">
                Update
            </button>

            <a asp-action="Index"
               class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}